[submodule "4-grading-tests"]
	path = 4-grading-tests
	url = git@github.com:spbu-coding-2024/4-grading-tests.git
[submodule "4-pepeclub"]
	path = 4-pepeclub
	url = git@github.com:spbu-coding-2024/4-pepeclub.git
[submodule "4-K0tB0ris"]
	path = 4-K0tB0ris
	url = git@github.com:spbu-coding-2024/4-K0tB0ris.git
[submodule "4-vvmaksim"]
	path = 4-vvmaksim
	url = git@github.com:spbu-coding-2024/4-vvmaksim.git
[submodule "4-Drenger"]
	path = 4-Drenger
	url = git@github.com:spbu-coding-2024/4-Drenger.git
[submodule "4-AlexandrGorbunov564"]
	path = 4-AlexandrGorbunov564
	url = git@github.com:spbu-coding-2024/4-AlexandrGorbunov564.git
[submodule "4-Stepiiiiiiik"]
	path = 4-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/4-Stepiiiiiiik.git
