[submodule "4-grading-tests"]
	path = 4-grading-tests
	url = git@github.com:spbu-coding-2024/4-grading-tests.git
[submodule "4-pepeclub"]
	path = 4-pepeclub
	url = git@github.com:spbu-coding-2024/4-pepeclub.git
[submodule "4-K0tB0ris"]
	path = 4-K0tB0ris
	url = git@github.com:spbu-coding-2024/4-K0tB0ris.git
[submodule "4-vvmaksim"]
	path = 4-vvmaksim
	url = git@github.com:spbu-coding-2024/4-vvmaksim.git
[submodule "4-Drenger"]
	path = 4-Drenger
	url = git@github.com:spbu-coding-2024/4-Drenger.git
[submodule "4-AlexandrGorbunov564"]
	path = 4-AlexandrGorbunov564
	url = git@github.com:spbu-coding-2024/4-AlexandrGorbunov564.git
[submodule "4-Stepiiiiiiik"]
	path = 4-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/4-Stepiiiiiiik.git
[submodule "4-Nasty12121"]
	path = 4-Nasty12121
	url = git@github.com:spbu-coding-2024/4-Nasty12121.git
[submodule "4-epishkin06"]
	path = 4-epishkin06
	url = git@github.com:spbu-coding-2024/4-epishkin06.git
[submodule "4-ilq1"]
	path = 4-ilq1
	url = git@github.com:spbu-coding-2024/4-ilq1.git
[submodule "4-NIcolaiKl"]
	path = 4-NIcolaiKl
	url = git@github.com:spbu-coding-2024/4-NIcolaiKl.git
[submodule "4-VladislavLoikov"]
	path = 4-VladislavLoikov
	url = git@github.com:spbu-coding-2024/4-VladislavLoikov.git
[submodule "4-ilyamaltsev05"]
	path = 4-ilyamaltsev05
	url = git@github.com:spbu-coding-2024/4-ilyamaltsev05.git
[submodule "4-RomanMaltsev"]
	path = 4-RomanMaltsev
	url = git@github.com:spbu-coding-2024/4-RomanMaltsev.git
[submodule "4-g4rry1"]
	path = 4-g4rry1
	url = git@github.com:spbu-coding-2024/4-g4rry1.git
[submodule "4-DaryaNechaeva"]
	path = 4-DaryaNechaeva
	url = git@github.com:spbu-coding-2024/4-DaryaNechaeva.git
