[submodule "4-grading-tests"]
	path = 4-grading-tests
	url = git@github.com:spbu-coding-2024/4-grading-tests.git
[submodule "4-pepeclub"]
	path = 4-pepeclub
	url = git@github.com:spbu-coding-2024/4-pepeclub.git
[submodule "4-K0tB0ris"]
	path = 4-K0tB0ris
	url = git@github.com:spbu-coding-2024/4-K0tB0ris.git
[submodule "4-vvmaksim"]
	path = 4-vvmaksim
	url = git@github.com:spbu-coding-2024/4-vvmaksim.git
[submodule "4-Drenger"]
	path = 4-Drenger
	url = git@github.com:spbu-coding-2024/4-Drenger.git
[submodule "4-AlexandrGorbunov564"]
	path = 4-AlexandrGorbunov564
	url = git@github.com:spbu-coding-2024/4-AlexandrGorbunov564.git
[submodule "4-Stepiiiiiiik"]
	path = 4-Stepiiiiiiik
	url = git@github.com:spbu-coding-2024/4-Stepiiiiiiik.git
[submodule "4-Nasty12121"]
	path = 4-Nasty12121
	url = git@github.com:spbu-coding-2024/4-Nasty12121.git
[submodule "4-epishkin06"]
	path = 4-epishkin06
	url = git@github.com:spbu-coding-2024/4-epishkin06.git
[submodule "4-ilq1"]
	path = 4-ilq1
	url = git@github.com:spbu-coding-2024/4-ilq1.git
[submodule "4-NIcolaiKl"]
	path = 4-NIcolaiKl
	url = git@github.com:spbu-coding-2024/4-NIcolaiKl.git
[submodule "4-VladislavLoikov"]
	path = 4-VladislavLoikov
	url = git@github.com:spbu-coding-2024/4-VladislavLoikov.git
[submodule "4-ilyamaltsev05"]
	path = 4-ilyamaltsev05
	url = git@github.com:spbu-coding-2024/4-ilyamaltsev05.git
[submodule "4-RomanMaltsev"]
	path = 4-RomanMaltsev
	url = git@github.com:spbu-coding-2024/4-RomanMaltsev.git
[submodule "4-g4rry1"]
	path = 4-g4rry1
	url = git@github.com:spbu-coding-2024/4-g4rry1.git
[submodule "4-DaryaNechaeva"]
	path = 4-DaryaNechaeva
	url = git@github.com:spbu-coding-2024/4-DaryaNechaeva.git
[submodule "4-End0ra"]
	path = 4-End0ra
	url = git@github.com:spbu-coding-2024/4-End0ra.git
[submodule "4-XRenso"]
	path = 4-XRenso
	url = git@github.com:spbu-coding-2024/4-XRenso.git
[submodule "4-MickeyPashaev"]
	path = 4-MickeyPashaev
	url = git@github.com:spbu-coding-2024/4-MickeyPashaev.git
[submodule "4-madarch1tect"]
	path = 4-madarch1tect
	url = git@github.com:spbu-coding-2024/4-madarch1tect.git
[submodule "4-vlapugb"]
	path = 4-vlapugb
	url = git@github.com:spbu-coding-2024/4-vlapugb.git
[submodule "4-RannyayaAnastasia"]
	path = 4-RannyayaAnastasia
	url = git@github.com:spbu-coding-2024/4-RannyayaAnastasia.git
[submodule "4-K1mer0"]
	path = 4-K1mer0
	url = git@github.com:spbu-coding-2024/4-K1mer0.git
[submodule "4-ArsenijRomanov"]
	path = 4-ArsenijRomanov
	url = git@github.com:spbu-coding-2024/4-ArsenijRomanov.git
[submodule "4-semrosin"]
	path = 4-semrosin
	url = git@github.com:spbu-coding-2024/4-semrosin.git
[submodule "4-neepii"]
	path = 4-neepii
	url = git@github.com:spbu-coding-2024/4-neepii.git
[submodule "4-MikhailSvirukov"]
	path = 4-MikhailSvirukov
	url = git@github.com:spbu-coding-2024/4-MikhailSvirukov.git
[submodule "4-lospollosenjoyer"]
	path = 4-lospollosenjoyer
	url = git@github.com:spbu-coding-2024/4-lospollosenjoyer.git
[submodule "4-VladimirKhmelev"]
	path = 4-VladimirKhmelev
	url = git@github.com:spbu-coding-2024/4-VladimirKhmelev.git
[submodule "4-Daniil-Chepurnikh"]
	path = 4-Daniil-Chepurnikh
	url = git@github.com:spbu-coding-2024/4-Daniil-Chepurnikh.git
[submodule "4-talubik"]
	path = 4-talubik
	url = git@github.com:spbu-coding-2024/4-talubik.git
[submodule "4-Nickovlev"]
	path = 4-Nickovlev
	url = git@github.com:spbu-coding-2024/4-Nickovlev.git
[submodule "4-fUS1ONd"]
	path = 4-fUS1ONd
	url = git@github.com:spbu-coding-2024/4-fUS1ONd.git
[submodule "4-svetlana-saikina"]
	path = 4-svetlana-saikina
	url = git@github.com:spbu-coding-2024/4-svetlana-saikina.git
[submodule "4-Egorkayka"]
	path = 4-Egorkayka
	url = git@github.com:spbu-coding-2024/4-Egorkayka.git
[submodule "4-Ganesha1967"]
	path = 4-Ganesha1967
	url = git@github.com:spbu-coding-2024/4-Ganesha1967.git
[submodule "4-alken1t15"]
	path = 4-alken1t15
	url = git@github.com:spbu-coding-2024/4-alken1t15.git
[submodule "4-ivanovm-main"]
	path = 4-ivanovm-main
	url = git@github.com:spbu-coding-2024/4-ivanovm-main.git
